*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "NimbusSanL-Reg";
}

html , body{
    height: 100%;
    width: 100%;
}


@font-face {
    font-family:"NimbusSanL-Reg";
    src: url(NimbusSanL-Reg.otf);
}

.main{
    width: 100%;
}

#nav{
    padding: 20px 30px;
}